#logo {
  padding-right:20px;
}

.container-lg {
margin: 0 auto;
padding: 24px;  
display: flex;
justify-content: space-between;
}

#title {
  font-size: 30px;
  margin-top: 15px;
}


.text-bg-warning{
color: white;
}

svg {
height: 20px;
padding: 3px;
}